body{
	color: black;
	font-size: 1.5em;
}

h1,h2,h3,h4,h5{
	color: black;
}

.pie-pagina{
	padding: 5px;
	background-color: black;
}

li{
	list-style: none;
}
a{
	color: black;
}

.encabezado  div{
	display: inline-block;
}

.rojo{
	background-color: red;
}

.fuente-blanca{
	color: white;
}

.fuente-media{
	font-size: 1.1em;
}

.margen-arriba-15-px{
	margin-top: 15px;
}
.margen-arriba-2-em{
	margin-top: 2em;
}
.margen-abajo-1-em{
	margin-bottom: 1em;
}
.margen-izquierdo-10-px{
	margin-left: 10px;
}
.margen-izquierdo-15-px{
	margin-left: 15px;
}
.margen-derecho-10-px{
	margin-right: 10px;
}

.padding-10-px{
	padding: 10px;
}