{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block titulo %}{% endblock %}</title>
	<link rel="shortcut icon" href="{% static "img/iconoCInC.png" %}" type="image/png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/cinc.css" %}"/>
</head>
<body>
	<div class="container">
		<header>
			<div class="row margen-arriba-15-px">
				<div class="col-md-8 encabezado">
					<a href="/"><img src="{% static "img/logoCInC.png" %}" alt="" width="50%"></a>
				</div>
				<div class="col-md-2 col-md-offset-2 titulares">
					<div class="margen-arriba-15-px">
						<a href="https://www.facebook.com/pages/Centro-de-Investigaci%C3%B3n-en-Ciencias-CInC-UAEM/518893448249920?fref=ts" target="_blank"><img class="margen-izquierdo-10-px" src="{% static "img/icono_fb.png" %}" alt="" width="12px"></a>
						<a href="https://twitter.com/CInC_UAEM" target="_blank"><img class="margen-izquierdo-10-px" src="{% static "img/icono_tw.png" %}" alt="" width="25px"></a>
						<h4><a class="" href="/ingresar"><strong>Ingresar</strong></a></h4>
						<div class="form-group" width="50%">
							<input type="text" class="form-control" placeholder="Buscar...">
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<div class="row margen-arriba-15-px">
			<div class="col-md-12">
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Desplegar navegación</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					    </button>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<li><a href="/"><strong class="fuente-blanca">Inicio</strong></a></li>
							<li><a href="/cinc"><strong class="fuente-blanca">CInC</strong></a></li>
							<li><a href="/investigacion"><strong class="fuente-blanca">Investigación</strong></a></li>
							<li><a href="/publicaciones"><strong class="fuente-blanca">Publicaciones</strong></a></li>
							<li><a href="/departamentos"><strong class="fuente-blanca">Departamentos</strong></a></li>
							<li><a href="/oferta-educativa"><strong class="fuente-blanca">Oferta Educativa</strong></a></li>
							<li><a href="/administracion"><strong class="fuente-blanca">Administración</strong></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>

		{% block contenido %}{% endblock %}
		<div class="pie-pagina margen-arriba-2-em">
			<footer class="">
				<div class="row margen-izquierdo-10-px margen-derecho-10-px margen-arriba-15px margen-abajo-1-em">
					<div class="col-md-6">
						<h3 class="fuente-blanca">Ubicación y Contacto</h3>
						<div class="margen-izquierdo-10-px">
							<h5 class="fuente-blanca">Centro de Investigación en Ciencias - UAEM</h5>
							<h5 class="fuente-blanca">Av. Universidad 1001, Col. Chamilpa Cuernavaca Morelos, 62209</h5>
							<h5 class="fuente-blanca">Teléfono: (777) 329 70 20 Fax: (777) 329 70 40</h5>
						</div>
					</div>
					<div class="col-md-6">
						<h3 class="fuente-blanca">Centros de Investigación - <a class="fuente-blanca" href="https://www.facebook.com/pages/Instituto-de-Investigaci%C3%B3n-en-Ciencias-B%C3%A1sicas-y-Aplicadas-UAEM/803264573083688?fref=ts" target="_blank">IICBA</a></h3>
						<div class="margen-izquierdo-10-px">
							<li><a class="fuente-blanca fuente-media" href="http://www.cidc.uaem.mx" target="_blank">Centro de Investigación en Dinámica Celular</a></li>
							<li><a class="fuente-blanca fuente-media" href="http://www.ciq.uaem.mx/" target="_blank">Centro de Investigaciones Químicas</a></li>
							<li><a class="fuente-blanca fuente-media" href="http://www2.ciicap.uaem.mx:8080/" target="_blank">Centro de Investigación en Ingeniería y Ciencias Aplicadas</a></li>
						</div>
					</div>
					<div class="col-md-12 text-center margen-arriba-15-px fuente-blanca">
						<strong>Centro de Investigación en Ciencias - UAEM</strong>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>