{% extends 'base.html' %}

{% block titulo %} CInC | Departamentos {% endblock %}

{% block contenido %}

{% load staticfiles %}

<section>
	<div class="row">
		<article>
			<div class="col-md-12">
				<h1>Departamentos de Investigación</h1>
			</div>
			<div class="col-md-5 margen-arriba-15-px">
				<p>Estos departamentos llevan a cabo investigación de frontera en sus respectivas áreas. Además de ser el sostén tanto de la licenciatura como el Posgrado en Ciencias.</p>	
				<h4 class="margen-arriba-15-px"><strong>Seleccione el departamento para ver sus líneas de investigación e investigadores:</strong></h4>
				<div class="margen-izquierdo-10-px">
					<h4><li><a href="#">Computación</a></li></h4>
					<h4><li><a href="#">Física</a></li></h4>
					<h4><li><a href="#">Matemáticas</a></li></h4>
				</div>
			</div>
			<div class="col-md-7 margen-arriba-15-px">
				<img class="margen-arriba" src="{% static "img/deptos.jpg" %}" alt="" width="100%">
			</div>
		</article>
	</div>
</section>

{% endblock %}
