{% extends 'base.html' %}

{% block titulo %} Centro de Investigación en Ciencias {% endblock %}

{% block contenido %}

{% load staticfiles %}

<!-- Destacados -->
<section>
	<div class="row">
		<article>
			<div class="col-md-4">
				<div class="margen-izquierdo-15-px">
					<h3>Administración</h3>
				</div>
				<div class="fuente-media">
					<ul>
						<li><a href="/actas">Actas</a></li>
			            <li><a href="#">Reglamento</a></li>
			            <li><a href="#">Organigrama</a></li>
					</ul>
				</div>
			</div>
		</article>
		<article>
			<div class="col-md-4">
				<div class="fuente-media">
					<div class="margen-izquierdo-15-px">
						<h3>Investigación</h3>
					</div>
					<div class="">
						<ul>
							<li><a href="/publicaciones">Publicaciones</a></li>
			                <li><a href="/investigadores">Investigadores</a></li>
			                <li><a href="/lineas-investigacion">Líneas de Investigación</a></li>
						</ul>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="col-md-4">
				<div class="margen-izquierdo-15-px">
					<h3>Oferta Educativa</h3>
				</div>
				<div class="fuente-media">
					<ul>
						<li><a href="/publicaciones">Publicaciones</a></li>
		                <li><a href="/investigadores">Investigadores</a></li>
		                <li><a href="/lineas-investigacion">Líneas de Investigación</a></li>
					</ul>
				</div>
			</div>
		</article>
	</div>
</section>

<!-- Principal -->
<section>
	<div class="row margen-arriba-2-em">
		<article>
			<div class="col-md-6 text-center">
				<a href="/cinc"><img src="{% static "img/cinc.jpg" %}" alt="" width="100%"></a>
			</div>
			<div class="col-md-6">
				<h4>Acerca del CInC</h4>
		        <p class="margen-arriba">El 12 de diciembre de 2014 la antigua Facultad de Ciencias de la Universidad Autónoma del Estado de Morelos se convierte en dos centros: el Centro de Investigación en Ciencias (CInC) y el Centro de Investigación en Dinámica Celular. Estos dos centros, junto con el CIQ y el CIICAp forman el Instituto de Investigación en Ciencias Básicas y Aplicadas....</p>
		        <a href="/cinc">Leer más...</a>
			</div>
		</article>
	</div>
</section>

<!-- Secundarios -->
<aside>
	<div class="row margen-arriba-2-em">
		<article>
			<div class="col-md-3">
				<h4>Avisos</h4>
				<a href="/avisos">Todos los avisos.</a>
			</div>
		</article>
		<article>
			<div class="col-md-3">
				<h4>Actividades</h4>
				<a href="/actividades">Todas las actividades.</a>
			</div>
		</article>
		<article>
			<div class="col-md-3">
				<h4>Links</h4>
				<a href="/links">Todos los links.</a>
			</div>
		</article>
		<article>
			<div class="col-md-3">
				<h4>Miscelaneos</h4>
				<a href="/miscelaneos">Todos los miscelaneos.</a>
			</div>
		</article>
	</div>
</aside>

{% endblock %}