{% extends 'basebd.html' %}

{% block titulo %} Investigadores {% endblock %}

{% load staticfiles %}

{% block area %}Investigadores{% endblock %}

{% block computacion %}
	<div class="margen-izquierdo-10-px">
		{% for investigador in investigador %}
			{% ifequal investigador.departamento 'Computación' %}
				<li><h5><a href="/investigador/{{investigador.nombre}}">{{investigador.nombre}}</a></h5></li>
			{% endifequal %}
		{% endfor %}
	</div>
{% endblock %}

{% block fisica %}
	<div class="margen-izquierdo-10-px">
		{% for investigador in investigador %}
			{% ifequal investigador.departamento 'Física' %}
				<li><h5><a href="/investigador/{{investigador.nombre}}">{{investigador.nombre}}</a></h5></li>
			{% endifequal %}
		{% endfor %}
	</div>
{% endblock %}

{% block matematicas %}
	<div class="margen-izquierdo-10-px">
		{% for investigador in investigador %}
			{% ifequal investigador.departamento 'Matemáticas' %}
				<li><h5><a href="/investigador/{{investigador.nombre}}">{{investigador.nombre}}</a></h5></li>
			{% endifequal %}
		{% endfor %}
	</div>
{% endblock %}