{% extends 'basebd.html' %}

{% block titulo %} Investigadores {% endblock %}

{% load staticfiles %}

{% block area %}Investigadores{% endblock %}

{% block computacion %}
	<div class="margen-izquierdo-10-px">
		{% for investigador in investigador %}
			{% ifequal investigador.departamento 'Computación' %}
				<li><a href="/investigador/{{investigador.nombre}}"><h5>{{investigador.nombre}}</h5></a></li>
			{% endifequal %}
		{% endfor %}
	</div>
{% endblock %}

{% block fisica %}
	<div class="margen-izquierdo-10-px">
		{% for investigador in investigador %}
			{% ifequal investigador.departamento 'Física' %}
				<li><a href="/investigador/{{investigador.nombre}}"><h5>{{investigador.nombre}}</h5></a></li>
			{% endifequal %}
		{% endfor %}
	</div>
{% endblock %}

{% block matematicas %}
	<div class="margen-izquierdo-10-px">
		{% for investigador in investigador %}
			{% ifequal investigador.departamento 'Matemáticas' %}
				<li><a href="/investigador/{{investigador.nombre}}"><h5>{{investigador.nombre}}</h5></a></li>
			{% endifequal %}
		{% endfor %}
	</div>
{% endblock %}