{% extends 'basebd.html' %}

{% block titulo %} Líneas de Investigación {% endblock %}

{% load staticfiles %}

{% block area %}Líneas de Investigación{% endblock %}

{% block computacion %}
	<div class="margen-izquierdo-10-px">
		<li><h5><a href="#">Robótica Cognitiva y Evolutiva</a></h5></li>
		<li><h5><a href="#">Optimización y Algoritmica</a></h5></li>
		<li><h5><a href="#">Sistemas Inteligentes de Percepción</a></h5></li>
		<li><h5><a href="#">Visión por Computadora y Procesamiento de Imágenes</a></h5></li>
		<li><h5><a href="#">Estadística Computacional Vía Simulación Monte Carlo</a></h5></li>
	</div>
{% endblock %}

{% block fisica %}
	<div class="margen-izquierdo-10-px">
		<li><h5><a href="#">Física Atómica Molecular</a></h5></li>
		<li><h5><a href="#">Física del Estado Sólido</a></h5></li>
		<li><h5><a href="#">Termodínamica Fuera del Equilibrio</a></h5></li>
		<li><h5><a href="#">Sistemas Dínamicos</a></h5></li>
	</div>
{% endblock %}

{% block matematicas %}
	<div class="margen-izquierdo-10-px">
		<li><h5><a href="#">Análisis Real, Complejo y Funcional</a></h5></li>
		<li><h5><a href="#">Análisis Armónico y Ecuaciones Diferenciales Parciales</a></h5></li>
		<li><h5><a href="#">Física Matemática</a></h5></li>
		<li><h5><a href="#">Álgebra y Geometría</a></h5></li>
		<li><h5><a href="#">Sistemas Dinámicos</a></h5></li>
	</div>
{% endblock %}