{% extends 'base.html' %}

{% block titulo %} CInC - UAEM {% endblock %}

{% block contenido %}

{% load staticfiles %}

<section>
	<div class="row">
		<div class="col-md-12">
			<h1>Oferta Educativa</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 margen-arriba-15-px">
			<article>
				<h3><strong>Licenciatura en Ciencias</strong></h3>
				<div class="margen-izquierdo-10-px">
						<h4><li><a href="#">Computación y Sistemas Inteligentes</a></li></h4>
						<h4><li><a href="#">Física</a></li></h4>
						<h4><li><a href="#">Matemáticas</a></li></h4>
				</div>
			</article>
			<article>
				<h3><strong>Posgrado en Ciencias</strong></h3>
				<div class="margen-izquierdo-10-px">
						<h4><li><a href="#">Física</a></li></h4>
						<h4><li><a href="#">Matemáticas</a></li></h4>
						<h4><li><a href="#">Modelado Computacional y Computo Científico</a></li></h4>
				</div>
			</article>
			<article>
				<h3><strong>Becas</strong></h3>
			</article>
		</div>
		<div class="col-md-6 padding-10-px">
			<img class="" src="{% static "img/ofer_edu.png" %}" alt="">
		</div>
	</div>
</section>

{% endblock %}