{% extends 'base.html' %}

{% block titulo %} CInC | Acerca de {% endblock %}

{% block contenido %}

{% load staticfiles %}

<!-- Cuerpo de pagina -->
<div class="row margen-arriba">
	<!-- Principal -->
	<div class="col-md-6">
		<h1>Ubicación y Contacto</h1>
		<p class="margen-arriba">
			<h4>Centro de Investigación en Ciencias - UAEM</h4>
			<h4>Av. Universidad 1001, Col. Chamilpa</h4>
			<h4>Cuernavaca Morelos, 62209</h4>
			<h4>Teléfono: (777) 329 70 20</h4>
			<h4>Fax: (777) 329 70 40</h4>
		</p>
	</div>
</div>

{% endblock %}