{% extends 'base.html' %}

{% block titulo %} Actas {% endblock %}

{% block contenido %}

{% load staticfiles %}

<!-- Cuerpo de pagina -->
<div class="row margen-arriba">
	<!-- Principal -->
	<div class="col-md-12">
		<h1>Actas</h1>
		<img class="margen-arriba" src="{% static "img/publicacion.jpg" %}" alt="">
		<div class="margen-arriba">
			{% for acta in actas %}
				<p class="fuente-mediana">{{acta.descripcion}}</p>
				<h5>Fecha: {{acta.fecha}}</h5>
				<a class="fuente-open-sans" href="{{acta.archivo_pdf.url}}"><h5>Archivo de acta</h5></a>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}