{% extends 'base.html' %}

{% block titulo %} Administración {% endblock %}

{% block contenido %}

{% load staticfiles %}

<section>
	<div class="row">
		<div class="col-md-12">
			<h1>Administración</h1>
		</div>
	</div>
	<div class="row">
		<article>
			<div class="col-md-7">
				<img class="margen-arriba-15-px" src="{% static "img/administracion.jpg" %}" alt="" width="100%">
			</div>
			<div class="col-md-5">
			<div class="margen-arriba-2-em">
				<h3><a href="/actas/">Actas</a></h3>
				<h3><a href="#">Organigrama</a></h3>
				<h3><a href="#">Reglamento</a></h3>
			</div>
			</div>
		</article>
	</div>
</section>

{% endblock %}