{% extends 'base.html' %}

{% block titulo %}{% endblock %}

{% block contenido %}

{% load staticfiles %}

<section>
	<div class="row">
		<div class="col-md-12">
			<h1>{% block area %}{% endblock %}</h1>
		</div>
	</div>
	<div class="row">
		<article>
			<div class="col-md-4">
				<h3>Computación</h3>
				{% block computacion %}{% endblock %}
			</div>
		</article>
		<article>
			<div class="col-md-3">
				<h3>Física</h3>
				{% block fisica %}{% endblock %}
			</div>
		</article>
		<article>
			<div class="col-md-5">
				<h3>Matemáticas</h3>
				{% block matematicas %}{% endblock %}
			</div>
		</article>
	</div>
</section>

{% endblock %}