<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css.map" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css.map" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
	<link rel="stylesheet" href="{% static "css/cinc.css" %}">
	<script src="{% static "js/bootstrap.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/npm.js" %}"></script>
	<script src="{% static "js/cinc.js" %}"></script>
	<title>{% block titulo %}{% endblock %}</title>
</head>
<body>
	<div class="container">
		<!-- Sección: Encabezado -->
		<div class="row margen-arriba encabezado rojo">
			<header>
				<div class="col-md-12">
					<div class="logo-cinc">
						<a href="/"><img src="{% static "img/logo_fc.jpg" %}" alt=""></a>
					</div>
					<div class="logo-secundario">
						<img src="{% static "img/logo_uaem.jpg" %}" alt="">
					</div>
				</div>
			</header>
		</div>

		<!-- Sección: Navegación -->
		<div class="row margen-doble">
			<div class="col-md-12">
				<nav class="navbar">
				  <div class="container-fluid">
				    <div class="col-md-12">
				      <ul class="nav navbar-nav">
				        <li><a href="/">Inicio</a></li>
				        <li><a href="/cinc/">CInC</a></li>
						<li><a href="/investigacion/">Investigación</a></li>
						<li><a href="/publicaciones/">Publicaciones</a></li>
						<li><a href="/departamentos/">Departamentos</a></li>
						<li><a href="/oferta-educativa/">Oferta Educativa</a></li>
						<li><a href="/administracion/">Administración</a></li>
						<li><a href="/acerca-de/">Acerca de</a></li>
						<li><a href="https://www.facebook.com/pages/Centro-de-Investigaci%C3%B3n-en-Ciencias-CInC-UAEM/518893448249920?fref=ts" target ="_blank"><img src="{% static "img/icon_fb.png" %}" alt="" width="20px"></a></li>
						<li><a href="https://twitter.com/CInC_UAEM" target ="_blank"><img src="{% static "img/icon_tw.png" %}" alt="" width="20px"></a></li>
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>
		</div>

		{% block contenido %}{% endblock %}
		
		<!-- Sección: Pie de Página -->
		<div class="row margen-arriba pie-pagina ">
			<div class="col-md-12 text-center margen-arriba fuente-media">
				<footer>
					<p>&copy; 2015 <strong>Centro de Investigación en Ciencias - UAEM</strong> | <a href="#">Ubicación y Contacto</a></p>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>