{% extends 'base.html' %}

{% block titulo %} CInC | Departamentos {% endblock %}

{% block contenido %}

{% load staticfiles %}

<!-- Cuerpo de pagina -->
<div class="row margen-arriba">
	<!-- Principal -->
	<div class="col-md-12">
		<h1>Departamentos de Investigación</h1>
	</div>
	<div class="col-md-6 margen-arriba">
		<p>Éstos departamentos llevan a cabo investigación de frontera en sus respectivas áreas. Además de ser el sostén tanto de la licenciatura como el Posgrado en Ciencias.</p>	
		<h4 class="margen-arriba"><strong>Seleccione el departamento para ver sus líneas de investigación e investigadores:</strong></h4>
		<ol>
			<li><a href="#"><h4>Computación y Sistemas Inteligentes</h4></a></li>
			<li><a href="#"><h4>Física</h4></a></li>
			<li><a href="#"><h4>Matemáticas</h4></a></li>
		</ol>
	</div>
	<div class="col-md-6">
		<img class="margen-arriba" src="{% static "img/deptos.jpg" %}" alt="" width="100%">
	</div>
</div>

{% endblock %}
