{% extends 'base.html' %}

{% block titulo %} Investigadores {% endblock %}

{% block contenido %}

{% load staticfiles %}

<!-- Cuerpo de pagina -->
<div class="row margen-arriba">
	<!-- Principal -->
	<div class="col-md-12">
		<h1>Investigadores</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<a href="#"><h4>Departamento de Computación y Sistemas Inteligentes</h4></a>
	</div>
	<div class="col-md-4">
		<a href="#"><h4>Departamento de Física</h4></a>
	</div>
	<div class="col-md-4">
		<a href="#"><h4>Departamento de Matemáticas</h4></a>
	</div>
</div>

{% endblock %}
