{% extends 'base.html' %}

{% block titulo %} CInC | Investigación {% endblock %}

{% block contenido %}

{% load staticfiles %}

<!-- Cuerpo de pagina -->
<div class="row margen-arriba">
	<!-- Principal -->
	<div class="col-md-12">
		<h1>Investigación</h1>
	</div>
	<div class="col-md-6">
		<img class="margen-arriba" src="{% static "img/investigacion.jpg" %}" alt="" width="100%">
	</div>
	<div class="col-md-6">
		<a href="#"><h2>Líneas de Investigación</h2></a>
		<a href="#"><h2>Publicaciones</h2></a>
		<a href="#"><h2>Investigadores</h2></a>
		<a href="#"><h2>Laboratorios</h2></a>	
	</div>
</div>

{% endblock %}
