{% extends 'base.html' %}

{% block titulo %} CInC - UAEM {% endblock %}

{% block contenido %}

{% load staticfiles %}

<!-- Cuerpo de pagina -->
<div class="row margen-arriba">
	<!-- Principal -->
	<div class="col-md-12">
		<h1>Oferta Educativa</h1>
		<div class="col-md-5 margen-arriba">
			<h3>Licenciatura en Ciencias</h3>
			<div class="margen-izquierdo">
				<ol>
					<li><a href="#"><h4>Computación y Sistemas Inteligentes</h4></a></li>
					<li><a href="#"><h4>Física</h4></a></li>
					<li><a href="#"><h4>Matemáticas</h4></a></li>
				</ol>
			</div>
			<h3>Posgrado en Ciencias</h3>
			<div class="margen-izquierdo">
				<ol>
					<li><a href="#"><h4>Física</h4></a></li>
					<li><a href="#"><h4>Matemáticas</h4></a></li>
					<li><a href="#"><h4>Modelado Computacional y Computo Científico</h4></a></li>
				</ol>
			</div>
			<h3>Becas</h3>
		</div>
		<div class="col-md-7">
			<img class="margen-arriba" src="{% static "img/ofer_edu.png" %}" alt="">
		</div>
	</div>
</div>

{% endblock %}
